@model Gestao_Software.Models.Client

@{
    ViewData["Title"] = "Details";
}
<style>
    dd {
        margin: 0;
    }

        dd::after {
            content: '\A';
            white-space: pre-line;
        }

        dd:last-of-type::after {
            content: '';
        }

    dd, dt {
        display: inline;
    }

    dd, dt, .address {
        vertical-align: middle;
    }

    dt {
        font-weight: bolder;
    }

        dt::after {
            content: ': ';
        }
</style>

<h1>Detalhes</h1>

<h5>Cliente</h5>

<br />

<div>
    <dl class="row">
        <dt class="col-xl-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-xl-2">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-xl-2">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-xl-2">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-xl-2">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-sm">&laquo; Voltar &raquo;</a>
</div>
