@model ProjectsListViewModel

@{
    ViewData["Title"] = "Lista de Projectos";
}

<h1>Lista de Projectos</h1>

<p>Total de Projectos na Ferramenta Gestão de Software @Model.PagingInfo.TotalItems projectos</p>

<p>
    <a asp-action="Create">Criar Novo Projecto</a>
</p>

<!--Divider-->
<div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Projecto</h5>
            </th>
            <th>
                <h5>Cliente</h5>
            </th>
            <th>
                <h5>Data de Inicio do Projecto</h5>
            </th>
            <th>
                <h5>Data de Fim do Projecto</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Projects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--Divider-->
<div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New Project</a>
</p>


