@model Gestao_Software.Models.Collaborator

@{
    ViewData["Title"] = "Delete";
}

<h3>Tem a certeza que pretende apagar este colaborador?</h3>
<div>
    <h4>Dados do colaborador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CollaboratorId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="List" class="btn btn-secondary btn-sm">&laquo; Voltar &raquo;</a>
    </form>
</div>
